@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-light">Welcome</h1>
    <p class="text-light">Create and Manage your To do's by clicking <a asp-action="Index" asp-controller="TodoItem"> here</a></p>
</div>
