@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1 class="text-light">@ViewData["Title"]</h1>
<p class="text-light">
    Your email has been confirmed <a asp-page="./Login">click here</a> to login
</p>
<partial name="_StatusMessage" model="Model.StatusMessage" />
