@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@section CustomStyles{

    <link rel="stylesheet" href="@Url.Content("~/css/auth.css")"/>
}

<div class="container">
    <div class="col-md-4">
        <div class="card mt-2">
            <div class="card-header">
                <h3 class="text-light">Reset Password</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <span asp-validation-for="Input.Email" class="text-danger" id="validation"></span>
                    <div class="form-group input-group flex-nowrap mb-2">
                        <span class="input-group-text" id="addon-wrapping">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    </div>
                    <button type="submit" class="w-80 btn btn" id="resetSubmit">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
