@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }

  
}

@section CustomStyles {
    <link rel="stylesheet" href="@Url.Content("~/css/manageacc.css")" />
}

<h1 class="text-light">Manage your account</h1>

<div class="container bg-warning" id="layout">
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-4 bg-secondary">
            <partial name="_ManageNav" />
        </div>
        <div class="col-8 bg-info">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
