@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row mt-2">
    <div class="col">
        <div id="textTitle">
            <h3 class="text-light fw-bold">@ViewData["Title"]</h3>
            <div class="alert alert-warning" role="alert" id="alertDelete">
                <span class="text-start"><strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong></span>
            </div>
        </div>
        <form id="delete-user" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert" id="validation"></div>
            @if (Model.RequirePassword)
            {
                <div id="validation"><span asp-validation-for="Input.Password" class="text-danger"></span></div>
                <div class="form-group mb-2" id="inputHolder">
                    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                </div>
            }
            <div class="mt-2" id="btnHolder">
                <button class="btn btn-danger border-0 mb-1" type="submit" id="deleteData">Delete data and close my account</button>
            </div>
        </form>
        <div class="" id="btnHolder">
            <span>
                <a asp-page="./PersonalData" class="btn btn-primary border-0" id="downloadBtn">Cancel</a>
            </span>
        </div>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
