@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row mt-2">
    <div class="col">
        <div id="textTitle">
            <h3 class="text-light fw-bold">@ViewData["Title"]</h3>
        </div>
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert" id="validation"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-group mb-2 justify-content-center" id="inputHolder">
                    <input asp-for="Email" placeholder="Please enter your email." disabled />
                        <!--div class="input-group-append">
                            <span class="input-group-text bg-transparent border-0" style="color: #0FFF50">✓</span>
                        </!--div-->
                </div>
            }
            else
            {
                <div class="form-group mb-2" id="inputHolder">
                    <input asp-for="Email" placeholder="Please enter your email." disabled />
                    <div class="p-1" id="btnHolder">
                        <!--button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn mt-2">Change email</button-->
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn mt-2 btn-link">Send verification email</button>
                    </div>
                </div>
            }
            <div id="validation"><span asp-validation-for="Input.NewEmail" class="text-danger"></span></div>
            <div class="form-group mb-2" id="inputHolder">
                <input asp-for="Input.NewEmail" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
            </div>
            <div class="p-2" id="btnHolder">
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn mt-2">Change email</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
