@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row mt-2">
    <div class="col">
        <div id="textTitle">
            <h3 class="text-light fw-bold">@ViewData["Title"]</h3>
            <p class="text-light">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
            <p class="text-light fw-bold">
                Deleting this data will permanently remove your account, and this cannot be recovered.
            </p>
        </div>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <div class="p-1" id="btnHolder">
                <button class="btn btn-primary border-0" type="submit" id="downloadBtn">Download</button>
            </div>
        </form>
        <div class="p-1" id="btnHolder">
            <span>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
            </span>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
