
body
{

}

/*Reference Login/Registration razorview*/

#textHolder
{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}

#textHolder p, h5
{
    font-size: 80%;
}

#imgHolder, img
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#formHolder
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(31, 48, 68, .9);
    
}
img
{
    filter: brightness(80%);
}
#h1Text
{

    font-weight: bold;
    
}

/*Login*/
@media only screen and (max-width: 992px) {

    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    #formHolder, form {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
    }
}

/*Login*/
@media only screen and (max-width: 992px)
{
    #imgHolder {
        display: none;
    }
    #formHolder, form {
       border-radius: 10px;
    }
    #rowContainer
    {
        border-radius: 10px;
        background-image: url('../images/blackandwhitebg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        align-self: center;
        
    }
}

/*login*/
#inputHolder
{
    text-align: center;
}


input::placeholder 
{
    font-variant-caps: all-small-caps;
    color: white;
      
}

#inputHolder input
{
    width: 60%;
    height: 35px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #fff;
    background: transparent;
    color: #fff;
    caret-color: #fff !important;
    font-size: 70%;
}
#checkBox
{

  text-align:center;
}
#checkBox label
{
     width: 60%;
     text-align: start; 
     font-size: 70%;
}

    #checkBox label span a:hover {
        color: #0FFF50 !important;
    }

#validation
{
    font-size: 65%;
    text-align: center;
 
}
#btnHolder
{
    text-align: center;
}
#btnHolder button 
{
    font-variant-caps: all-small-caps;
    color: #fff !important;
    font-weight: bold;
    border: 2px solid #FF5F1F;
    width: 60%;
    font-size: 70%;
}
#btnHolder button:hover
{
    color: #0FFF50 !important;
}

#forgotPassHolder
{
   
    text-align: center
  
}
/*Reference Login/Registration razorview*/
#forgotPassHolder label, #loginTextHolder label
{
    width: 60%;
    font-size: 60%;
    text-align: end;

}
    #forgotPassHolder label a:hover {
        color: #FF5F1F !important;
    }
    
    #forgotPassHolder #loginTextHolder:hover {
        color: #0FFF50 !important;
    }


/*Reference Login/Registration razorview*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input--webkit-text-fill-color,
input:-webkit-autofill:active 
{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
   

}





