
body
{

}
 
.container
{
    display: flex;
    justify-content: center;
}



label
{
    margin-bottom: 5px;
}

.input-group span
{
    display: flex;
    width: 40px;
    justify-content: center;
    background: linear-gradient(to bottom right, rgba(24, 41, 120, 1), rgba(102, 136, 204, 1), rgba(172, 191, 130, 1));
    color: white;
    border: none;

   
}
.form-group
{
    width: 100%;
   
}
.card
{
   border-radius: 10px;
   background-color: blue;
   border: none;
}

.card .card-body
{
    display: flex;
    flex-direction: column;
    background:  #ACBFE6;
}

.card .card-header 
{
    text-align: center;
    font-variant-caps: all-small-caps;
    background: linear-gradient(to bottom right, rgba(24, 41, 120, 1), rgba(102, 136, 204, 1), rgba(172, 191, 130, 1));
    color: #fff;
   // border-top-right-radius: 10px;
    //border-top-left-radius: 10px;
}

.container form input::placeholder
{
    font-variant-caps: all-small-caps;
}

.container form input
{
    border: none;
}

#registerSubmit
{
    font-variant-caps: all-small-caps;
    margin-top: 20px;
    color: white;
    background: linear-gradient(to bottom right, rgba(24, 41, 120, 1), rgba(102, 136, 204, 1), rgba(172, 191, 130, 1));
}
.container form
{
    display: flex;
    flex-direction: column;
   
}

#validation
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    font-variant-caps: all-small-caps;
   
}

/*For Login chstml only*/

.checkbox label
{
    font-variant-caps: all-small-caps;
    font-size: 11px;
    margin-top: 2px;
    color: rgba(24,41,120,1);
}
#login-submit
{
    font-variant-caps: all-small-caps;
    margin-top: 10px;
    color: white;
    background: linear-gradient(to bottom right, rgba(24, 41, 120, 1), rgba(102, 136, 204, 1), rgba(172, 191, 130, 1));
}

.checkbox span
{
   font-size: 11px;
   margin-top: 2px;
   float: right;
   
}


@media only screen and (max-width:600px)
{
    .checkbox span 
    {
        font-size: 8px;
        margin-top: 5px;
        text-align: center;
    }
    .checkbox label
    {
        font-size: 8px;
        text-align: center;
    }
    #validation
    {
        font-size: 8px;
    }
    
}